---
---

<section class="section about">
    <h2 class="about__title">О нас</h2>
    <p class="about__text">
        Starframe проектирует кодовые библиотеки, внутренние инструменты и
        экспериментальные проекты. Цель — делать сложные вещи проще, быстрее и
        интереснее.
    </p>
</section>
